
<div class="evenements-page">

    <div class="breadcrump" ><a routerLink="/Accueil" alt="Accueil">Accueil</a> > <a href="/evenements" alt="evenements">Événements</a></div>

    <div class="onsiteservice mat-elevation-z8" *ngFor="let evenement of evenements">

        <img *ngIf="evenement.photo" src="{{evenement.photo}}" alt="photo">

        <div class="evenement-item">

            <h3><span *ngIf=" evenement.date != null">Du {{ evenement.date[0]|date:'W LLL YYYY'}} au {{ evenement.date[1]|date:'W LLL YYYY'}}</span> -  {{ evenement.title }}</h3>
            <p>{{evenement.description}}</p>

        </div>

    </div>


 </div>
