

mat-slider {
  margin: 0px;
}

.filters-slider {
  margin: 20px;
  margin-top: 0px;
  padding-right: 30px;
  width: 220px;
}

.filter-slider {
  width: 160px;
  margin: 0;
  display: flex;
  flex-direction: column;
  p {
    margin: 0px;
  }

}

.command-button {
  padding: 1px 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  > button {
    width: 100%;
  }
}

ion-content {

  --padding-top: 70px;

  ion-list {

    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    ion-item {

      ion-card {

        margin: 10px;
        width: 300px;
        border-radius: 6px;
        background-color: white;
        text-align: center;

        ion-img {
          height: 160px;
        }

        ion-card-content {

          padding: 5px;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          ion-card-title {
            font-size: 1rem;
            padding: 15px 0;
          }

          ion-card-subtitle {
            color: rgb(243, 63, 171);
            font-size:x-large;
            font-weight: 550;
            padding: 15px 0;
          }

          ion-button {
            width: 94%;
            height: 36px;
            border: 0px;
            border-radius: 5px;
            margin: 8px;
            text-align: center;
            font-weight: bold;

            --color: black;
            --background: rgba(var(--ion-color-primary-rgb), 0.14);

          }

        }

      }

    }

  }

}

@media screen and (max-width: 991px) {

  ion-content {

    ion-list {

      display: flex;
      flex-direction: column;

      ion-item {

        ion-card {

          display: flex;
          flex-direction: row;
          margin: 0px;
          width: 100%;
          height: auto;

          ion-img {
            height: 120px;
          }

          ion-card-content {

            ion-card-title {
              text-align: left;
            }

            ion-card-subtitle {
              text-align: right;
              font-size: 1rem;
              font-weight: 550;
              padding: 5px 0;
            }

            ion-button {
              display: none;
            }

          }

        }

      }

    }

  }

}

@media screen and (max-width: 600px) {

  ion-content {

    ion-list {

      display: flex;
      flex-direction: column;

      ion-item {

        ion-card {

          ion-img {
            height: 80px;
          }

        }

      }

    }

  }

}
