
<ion-content>
  <ion-list>
    <ion-item *ngFor="let product of products | filterProduct:brands$:productTypes$:filters:refresh$">
      <ion-card expand="block" (click)="showDetail(product)">
        <ion-img
          src="{{backendImages + '/products/' + product.getImagePath}}" alt="">
        </ion-img>
        <ion-card-content>
          <ion-card-title>{{product.getProductName}}</ion-card-title>
          <ion-card-subtitle>{{product.getPrice | number: '1.2-2'}} €</ion-card-subtitle>
          <ion-button
            (click)="addProductToCart(product);$event.stopPropagation()"
          >Ajouter</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
