@import '../../app.component.scss';

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ol, ul {
  margin: 0;
  list-style: none;
}

.wrapper {
  background-color:  $color3; 
  padding-right: 24px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100vw;
}

.footer_column {
  display: flex;
}

.footer_column_item_title {
  margin: 3px 0;
  font-size: 1.1em;
  font-style: italic;
}

.footer_social-networks-item {
  width: 100px;
  height: auto;
}

.social-media {
  margin-right: 10px;
  padding-right: 10px;
  justify-content: space-around;
  align-items: start ;
  svg{
    width: 35px;
  }
}

.layout {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  list-style: none;
}

.layout_item {
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  padding-left: 24px;
  font-size: 1rem;
}

.footer_copyright {
  margin-top: 1px;
  padding-right: 10px;
  background-color: $color3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_copyright_content {
  font-size: .875rem;
  padding: 6px 0;
}


/* DIS MOI S'IL EST NECESSAIRE DE FAIRE DES MEDIAS QUERIES pour tablette et desktop */

@media screen and (min-width: 800px) {
  .list-inline {
    display: flex;
    gap: 20px;
  }

  .footer_column_item_title {
    margin-left: 50px;
    font-style: italic;
  }

  .social-media {
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    height: auto;
    display: inline-block;
    svg{
      width: 35px;
    }
  }
}
