
@import '../../app.component.scss';

mat-toolbar {
  background-color: $color3;
  height: 100px;
}

.toolbar-content {
  width: 100%;
}

.toolbar-text {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.tab-group {
  display: flex;
  justify-content: space-between;
}

.example-spacer {
    flex: 0 0 auto;
}

.cache {
  display: none;
}

.burger-icon {
  display: none;
}

.login-zone {
  display: flex;
  flex-direction: row;
}

button {
  background-color: $color3;;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

mat-flat-button {
  padding: 0px;
}

.burger-visible {
  display: none;
}

.title {
  display: none;
}

.cart-zone {
  display: flex;
  flex-direction: row-reverse;

  p {
    margin: 0px;
  }

}

.burger-zone {
  display: flex;
  flex-direction: row;

  p {
    margin: 0px;
  }

}

.logo-zone {

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 72px;
  }

  p {
    margin-left: 20px;
  }

}

mat-menu-content button {
  padding-left: 30px;
}

@media screen and (max-width: 1080px) {

  .email {
    display: none;
  }

  .toolbar-text {
    flex: 1 1 auto;
  }

}

@media screen and (max-width: 800px) {

  mat-tab-group {
    display: none;
  }

  .large-menu {
    display: none;
  }

  .login-burger-icon {
    display: inline-block;
  }

  .burger-icon {
    display: inline-block;
  }

  .toolbar-text {
    justify-content: space-between;
  }

  .burger-visible {
    display: inline-block;
  }

  .title {
    display: inline-block;
  }

  mat-toolbar {
    background-color: $color3;
    height: inherit;
  }

}

@media screen and (max-width: 520px) {

  .toolbar-text {
    justify-content: space-between;
  }

}
