// START - Mobile first style
main {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1px 5px;
}

              // ==== COMMENTAIRE POUR DENIS ====
/* pour éviter le débordement de la croix en affichage mobile il faudrait ajouter 
la propriété "overflow: hidden" à la balise <mat-toolbar-row> du header */

article {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-picture {
  img {
    width: 50vw;
  }
}

.content {
  padding-left: 10px;
}

.events-picture {
  img {
    width: 100vw;
  }
}

.opinion { // IL FAUDRAIT TROUVER COMMENT AJOUTER LES ETOILES
  height: 50px;
  background-color: lightgreen;
  margin: 1px auto;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px auto;
  p {
    display: block;
    padding: 3px;
  }
}
// END - Mobile first style
