
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">< Retour</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-item slot="end" (click)="showCart()">
      <ion-icon
        aria-hidden="true"
        [src]="'assets/icon/caddy.svg'"
      ></ion-icon>
      <ion-label>{{getCartTotalSize}}</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <div>
    <ion-item position="stacked" class="product-name ion-text-wrap">{{product.getProductName}}</ion-item>
    <img
      src="{{backendImages + '/products/' + product.getImagePath}}" alt=""
    >
    <p position="floating" class="product-description ion-text-wrap">{{product.getDescription}}</p>
    <ion-label position="floating" class="product-price">{{product.getPrice | number: '1.2-2'}}  €</ion-label>
    <ion-button (click)="addProductToCart(product)">Ajouter</ion-button>
  </div>
</ion-content>

