
@import '../../app.component.scss';

.onsiteservice {

  max-width:1200px;
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  border-radius: 8px;
  font-size: 1em;

  img {
    width: 280px;
    height: auto;
  }

  h3 {
    margin: 10px;
    margin-top: 5px;
  }

  > div {

    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    p {
      margin: 0 10px;
    }

    > div {

      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      height: 100%;
      .card-price {
        color: rgb(243, 63, 171);
        font-weight: 550;
      }

    }

  }

}

@media screen and (max-width: 1000px) {

  .onsiteservice {

    flex-direction: column;

  }

}
