
@import '../../app.component.scss';

ion-content {

  ion-card {
    box-shadow: 10px 5px 10px lightgray;
    border-radius: 8px;
  }

//  --background: var(--ion-color-primary-bkg);
  --padding-top: 70px;

  ion-list {

//    --background: var(--ion-color-primary-bkg);

    width: 100%;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {

      width: 100%;

      ion-card {

        display: flex;
        flex-direction: row;
        margin: 20px;
        border-radius: 8px;
        font-size: 1em;
//        width: 100%;
//        margin: 10px;

        ion-img {
          width: 350px;
          border-radius: 8px 0 0 8px;
        }

        ion-card-content {

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 100%;
          width: 80%;

          ion-card-title {
            margin: 10px;
            margin-top: 5px;
          }

          p {
            margin: 0 10px;
          }

          .card-tarif {

            display: flex;
            flex-direction: row-reverse;
            justify-content: right;
            margin-top: 10px;

            .card-price {
              color: rgb(243, 63, 171);
              font-weight: 550;
            }

          }

        }

      }

    }

  }

}

@media screen and (max-width: 750px) {

  ion-content {

    ion-list {

      div {

        ion-card {

          flex-direction: column;

          ion-img {
            width: 50%;
            margin:auto;
          }

          ion-card-content {

            width: 100%;

          }

        }

      }

    }

  }

}

@media screen and (max-width: 550px) {

  ion-content {

    ion-list {

      div {

        ion-card {

          ion-img {
            width: 100%;
          }

        }

      }

    }

  }

}
