
<ion-content>
  <ion-list>
    <div class="onsiteservice" *ngFor="let onSiteService of onSiteServices">
      <ion-card>
        <ion-img
          src="{{backendImages + '/onsiteservices/' + onSiteService.getImagePath}}" alt=""
        ></ion-img>
        <ion-card-content>
          <ion-card-title class="ion-text-wrap">{{ 'prestations.service.' + onSiteService.getOnSiteServiceName + '.h3' | translate }}</ion-card-title>
          <p class="card-description">{{onSiteService.getDescription}}</p>
          <div class="card-tarif">
            <span class="card-price">{{onSiteService.getPrice}} €</span>
            <span>{{onSiteService.getDuree}} minutes => </span>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
