
@import '../../app.component.scss';

.onsiteservice {

  display: flex;
  flex-direction: row;
  margin: 20px;
  border-radius: 8px;
  font-size: 1em;

  > div {

    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    p {
      margin: 0 10px;
    }

    > div {

      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      height: 100%;
      .card-price {
        color: rgb(243, 63, 171);
        font-weight: 550;
      }

    }

  }

}

img {
  width: 400px;
}
